@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');


:root{
    --border: 3px solid var(--t_color);
    --shadow-border : 10px 20px 25px #2a2a2a;
    --highlight: 5px solid rgb(9, 137, 139);
    --b_color: rgb(216, 215, 215);
    --t_color :rgb(0, 70, 68);
    --t_color-darker:rgb(0, 48, 46);
    --err_color : rgb(179, 6, 6);
    --place__color :rgb(95, 8, 8);
 }
body{
    font-family: "Montserrat", sans-serif;
    background-color:var(--b_color);
    color: var(--t_color);
    margin: 10px;
    padding: 10px;
    min-height: 1000px;
    min-width: fit-content;
}

h1{
    color: var(--t_color);
    text-decoration: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
h2{
    color: var(--t_color);
    text-decoration: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
h3{
    color: var(--t_color);
    text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
h4{
    color: var(--t_color);
    text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    font-family: "Montserrat", sans-serif;
}
h5{
    color: var(--t_color);
    text-decoration: none;
    text-decoration: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

h6{
    color: var(--t_color);
    text-decoration: none;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;

}
a{
    color: var(--t_color);
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: large;
}

header {
    padding: 5px;
    width: 100%;
    height: 20%;
    background-color: var(--t_color);
    box-shadow: var(--shadow-border);
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
    display: flex;
    margin-bottom: 50px;
}
.logo{
    margin: 0 auto;
    position: relative;
    padding: 15px;
   
}
.logo img{
    height: 125px;
}
footer{
    padding: 5px;
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: var(--t_color);
    box-shadow: var(--shadow-border);
    border-radius:20px ;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
    margin-top: 50px;
}

.counter{
    text-align: end;
    justify-self: end;
     margin: 0 auto;
    position: relative;
}
#main_form {
    width: 85%;
    max-width: 1500px;
    min-height: fit-content;
    padding: 30px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    border: var(--border);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 20px;
    box-shadow: var(--shadow-border);
}

.left_form {
    position: relative;
    padding: 20px;
}

.right_form {
    position: relative;
    padding: 20px;
}
.page_container{
    width: 85%;
    max-width: 1500px;
    min-height: 600px;
    padding: 30px;
    margin: 0 auto;
    margin-top: 50px;
    position: relative;
    border: var(--border);
    border-radius: 20px;
    box-shadow: var(--shadow-border);
}

.page_button{
    margin-top: 25%;
}

.banner{
    font-weight: bolder;
    text-align: center;
    margin:0 auto;
}

::placeholder {
    color: var(--place__color);
    font-family: "Montserrat", sans-serif;
    font-size: medium;
  }


form input, select{
    position: relative;
    margin: 0 auto;
    height: 32px;
    width: 75%;
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: var(--b_color);
    border: var(--border);
}

form select{
    position: relative;
    margin: 0 auto;
    height: 36px;
    width: 75%;
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: var(--b_color);
    border: var(--border);
}

 button:hover{
 border: var(--highlight);}

form label, legend{
    position: relative;
    margin: 0 auto;
    display: block;
    width: 75%;
    font-weight: bold;
    margin-bottom: 10px;
}

.gender_radio   label{
    display: block;
    position: relative;
    width: 75%;
    font-weight: bold;
    margin-bottom: 8px;

}
.gender_radio{
    position: relative;
    margin: 0 auto;
    display: block;
    width: 75%;
}



#male, #female{
    position: relative;
    margin: 0 auto;
    display: block;
    bottom: 1.75rem;;
    padding: 10px;
}

button{
    position: relative;
    margin: 0 auto;
    height: 45px;
    width: fit-content;
    display: block;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: rgb(255, 100, 0);
    border: var(--border);
    margin-bottom: 28px;
    font-weight:bolder ;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
    color: var(--t_color);
    cursor: pointer;

}

label[for="adventure-box"],
label[for="honeymoon-box"],
label[for="business-box"],
label[for="other-box"] {
    font-weight: normal;
    color: var(--t_color-darker);
    display: inline-block;
    vertical-align: middle;
    margin-top: 25px;
    margin-left: 15%;
}

.fail_banner {
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: var(--err_color);
    display: block;
}

.success_banner{
    margin: 0 auto;
    position: relative;
    text-align: center;
    color: var(--t_color);
    display: block;
}

.banner_note {
    margin: 0;
    display: block;
}

.submit_button{
    margin-top: 25px;
}

input[type="checkbox"] {
    display: inline-block;
    padding: 0;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    vertical-align: middle;
    align-items: center;
}
#other-option{
    background-color: var(--b_color);
    border: var(--border);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: bolder;
}

.error_field{
    color: var(--err_color);
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    visibility: hidden;
    padding: 20px;
    margin:0 auto;
    margin-left: 50%;

}


#age_field_annotate{
    color: var(--t_color);
    margin-left: 10%;
}
@media screen and (max-width: 1250px) {
    .error_field{
        margin-left: 30%;

    }
    #age_field_annotate{
        margin-left: 0px;

    }
    input[type="checkbox"] {
        margin-right: 0px;

    }
 }
@media screen and (max-width: 900px) {
    body{
        min-height: 1250px;
    }
    header{
        height: auto;
    }

    .logo{
        text-align: center;
    }
    .logo img{
        height: 125px;   }

    #main_form{
        grid-template-columns: repeat(1, 1fr);

    }
    .right_form{
        padding-top: 0px;
    }
    .left_form{
        padding-bottom: 0px;
    }
    .error_field{
        margin-left: 30%;

    }
    #age_field_annotate{
        margin-left: 10%;

    }
    .left_form{
        margin-bottom: 25px;
    }
}
